[submodule "data/07_Source_Codes/ATB13xSeleniumAdvanceFramework"]
	path = data/07_Source_Codes/ATB13xSeleniumAdvanceFramework
	url = https://github.com/PramodDutta/ATB13xSeleniumAdvanceFramework.git
[submodule "data/07_Source_Codes/AdvancePlaywrightFramework1x"]
	path = data/07_Source_Codes/AdvancePlaywrightFramework1x
	url = https://github.com/PramodDutta/AdvancePlaywrightFramework1x.git
